html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #ECECEC;
}

.navbar-header-color {
    background: #A51316;
}

.footer-color {
    background: #37373A;
}

.btn-red {
    background: #A51316;
    color: #fff;
}

    .btn-red:hover {
        background: #FF3F43;
        color: #fff;
    }

.accordion-button.red-accordion-button {
    --bs-accordion-btn-bg: #A51316;
    --bs-accordion-btn-color: #fff;
}

    .accordion-button.red-accordion-button:focus {
        --accordion-btn-focus-box-shadow: #FF3F43;
        --accordion-active-color: #fff;
        z-index: 3;
        outline: 0;
    }

    .accordion-button.red-accordion-button:not(.collapsed) {
        --bs-accordion-active-color: #fff;
        --bs-accordion-active-bg: #FF3F43;
        box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
    }
