.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.btn-red {
    background: #A51316;
    color: #fff;
}
    .btn-red:hover {
        background: #FF3F43;
        color: #fff;
    }

