html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #ECECEC;
}

.navbar-header-color {
    background: #A51316;
}

.footer-color {
    background: #37373A;
}

.btn-red {
    background: #A51316;
    color: #fff;
}

    .btn-red:hover {
        background: #FF3F43;
        color: #fff;
    }
