@model Fatec_Library.Models.Emprestimo

@{
    ViewData["Title"] = "Devolver Emprestimo";
}

@if (User.IsInRole("684973ab308a13b813d1210c"))
{
    <h4 class="text-center">Dados do Emprestimo</h4>

    <div class="row g-3">

        <div class="col-md-12">

            <form asp-action="DevolverEmprestimo" class="row g-3">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <label asp-for="Ra_Aluno" class="control-label"></label>
                    <input asp-for="Ra_Aluno" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                    <span asp-validation-for="Ra_Aluno" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Nome_Aluno" class="control-label"></label>
                    <input asp-for="Nome_Aluno" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                    <span asp-validation-for="Nome_Aluno" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Data_Retirada" class="control-label"></label>
                    <input asp-for="Data_Retirada" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                    <span asp-validation-for="Data_Retirada" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Data_Devolucao" class="control-label"></label>
                    <input asp-for="Data_Devolucao" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                    <span asp-validation-for="Data_Devolucao" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="Codigo_Exemplar" class="control-label"></label>
                    <input asp-for="Codigo_Exemplar" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                    <span asp-validation-for="Codigo_Exemplar" class="text-danger"></span>
                </div>

                <input type="hidden" for="status" name="status" value="Devolvido" />
                <input type="hidden" asp-for="Usuario_Id" />
                <input type="hidden" asp-for="Livro_Id" />
                <input asp-for="Id" type="hidden" />

                <div class="row g-3 justify-content-center gap-2 col-md-12">
                    <input type="submit" value="Devolver" class="btn btn-success col-md-4" />
                    <a class="btn btn-red col-md-4" asp-action="Listar">Voltar</a>
                </div>

            </form>

        </div>

    </div>
}
else
{
    <div class="alert alert-danger text-center">
        <strong>Acesso Negado!</strong> Você não tem permissão para acessar esta página.

        <a asp-action="Index" asp-controller="Home" class="text-danger">Voltar para a página inicial</a>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}