@model IEnumerable<Fatec_Library.Models.Livro>

@{
    ViewData["Title"] = "Novo Emprestimo";
}

@if (User.IsInRole("Bibliotecaria"))
{
    <h1 class="text-center">Novo Emprestimo</h1>
    <p class="text-center">Para realizar um novo Emprestimo, selecione um dos Livros abaixo.</p>

    <p>
        <a asp-controller="Home" asp-action="Administracao" class="btn btn-red rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Voltar"> <i class="bi bi-arrow-left-circle"></i></a>
        <a asp-action="Listar" class="btn btn-success">  <i class="bi bi-journal-arrow-down"></i> Realizar Devolução</a>

    </p>

    <form asp-action="Index" method="get" class="mb-4">
        <div class="input-group">
            <select class="form-select border border-danger focus-ring focus-ring-danger" name="campo" style="max-width: 200px;">
                <option value="Titulo" selected>Título</option>
                <option value="Autores">Autor</option>
                <option value="Cdd">CDD</option>
            </select>
            <input type="text" name="termo" value="@ViewBag.Termo" class="form-control border border-danger focus-ring focus-ring-danger" placeholder="Digite o termo de busca">
            <button type="submit" class="btn btn-danger">Buscar</button>
        </div>
    </form>

    @if (ViewBag.Livros != null && ((List<Livro>)ViewBag.Livros).Count > 0)
    {
        <div class="row row-cols-1 row-cols-md-4 g-4 resultados">
            @foreach (var livro in (List<Livro>)ViewBag.Livros)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="~/@livro.Capa_Livro" class="card-img-top" style="height: 300px; object-fit: cover;" />
                        <div class="card-body">
                            <h5 class="card-title">@livro.Titulo</h5>
                            <p class="card-text">@string.Join(", ", livro.Autores)</p>
                            <a href="@Url.Action("NovoEmprestimo", "Emprestimo", new {LivroId = livro.Id })" class="btn btn-outline-danger">Selecionar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-center text-muted mt-5">Nenhum livro encontrado.</p>
    }

}
else
{
    <div class="alert alert-danger text-center">
        <strong>Acesso Negado!</strong> Você não tem permissão para acessar esta página.

        <a asp-action="Index" asp-controller="Home" class="text-danger">Voltar para a página inicial</a>
    </div>
}
