@model Fatec_Library.Models.Emprestimo

@{
    ViewData["Title"] = "Emprestar um Livro";
}

@if (User.IsInRole("684973ab308a13b813d1210c"))
{

    @if (ViewBag.emprestado == "certo")
    {
        <h2 class="text-success">Formulário enviado com sucesso</h2>
    }

    @if (ViewBag.emprestado == "erro")
    {
        <h2 class="text-danger">Erro ao enviar formulário</h2>
    }

    <h1 class="text-center mt-5 mb-2">Emprestar um Livro</h1>

    <form asp-action="NovoEmprestimo" class="row g-3">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-md-6">
            <label asp-for="Nome_Aluno" class="control-label"></label>
            <input asp-for="Nome_Aluno" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
            <span asp-validation-for="Nome_Aluno" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Ra_Aluno" class="control-label"></label>
            <input asp-for="Ra_Aluno" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
            <span asp-validation-for="Ra_Aluno" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Data_Retirada" class="control-label"></label>
            <input asp-for="Data_Retirada" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
            <span asp-validation-for="Data_Retirada" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Data_Devolucao" class="control-label"></label>
            <input asp-for="Data_Devolucao" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
            <span asp-validation-for="Data_Devolucao" class="text-danger"></span>
        </div>

        <hr class="mt-5 mb-2" />

        <h3>Informações do Livro</h3>

        <div class="col-md-12 row g-3 gap-3 justify-content-between">

            <div class="col-md-6">
                <img src="~/img/capaLivros/@Model.Livro.Capa_Livro" alt="Capa Livro" />
            </div>

            <div class="col-md-6">

                <div class="col-md-12">
                    <label asp-for="Livro.Titulo" class="control-label"></label>
                    <input asp-for="Livro.Titulo" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                </div>

                <div class="col-md-12">
                    <label asp-for="Livro.Editora" class="control-label"></label>
                    <input asp-for="Livro.Editora" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                </div>

                <div class="col-md-12">
                    <label asp-for="Codigo_Exemplar" class="control-label">Selecine o Exemplar à ser emprestado</label>
                    <input asp-for="Codigo_Exemplar" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
                    <span asp-validation-for="Codigo_Exemplar" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="Livro.Descricao" class="control-label"></label>
                    <textarea asp-for="Livro.Descricao" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly> </textarea>
                </div>

            </div>

        </div>

        <input type="hidden" asp-for="Status_Emprestimo" class="form-control" />

        <input type="hidden" asp-for="Usuario_Id" class="form-control" />

        <input type="hidden" asp-for="Livro_Id" class="form-control" />

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />

        </div>
    </form>

    <div>
        <a asp-action="Listar">Lista de emprestimos</a>
    </div>

    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
}

}
else
{
    <div class="alert alert-danger text-center">
        <strong>Acesso Negado!</strong> Você não tem permissão para acessar esta página.

        <a asp-action="Index" asp-controller="Home" class="text-danger">Voltar para a página inicial</a>
    </div>
}