@model IEnumerable<Fatec_Library.Models.Area>

@{
    ViewData["Title"] = "Listar";
}

@if (User.IsInRole("684973ab308a13b813d1210c"))
{
    <h1>Listar Áreas cadastradas</h1>

    <p>
        <a asp-controller="Home" asp-action="Administracao" class="btn btn-red rounded-circle"> <i class="bi bi-arrow-left-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Voltar"></i></a>
        <a asp-action="Create" class="btn btn-success"> <i class="bi bi-plus-circle"></i> Registrar uma nova área</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descritivo)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descritivo)
                    </td>

                    <td>
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Deletar área">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger text-center">
        <strong>Acesso Negado!</strong> Você não tem permissão para acessar esta página.
        
        <a asp-action="Index" asp-controller="Home" class="text-danger">Voltar para a página inicial</a>
    </div>
}