@using Microsoft.AspNetCore.Authentication

@if (User.Identity.IsAuthenticated)
{

    if (User.IsInRole("Bibliotecaria")){

        <li class="nav-item">

            <a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="Listar">Usuario</a>

        </li>

        <li class="nav-item">

            <a class="nav-link text-light" asp-area="" asp-controller="Livro" asp-action="Index">Livro</a>

        </li>

        <li class="nav-item">

            <a class="nav-link text-light" asp-area="" asp-controller="Bibliotecaria" asp-action="Administracao">Área da Bibliotecaria</a>

        </li>

        <li class="nav-item ">

            <a class="nav-link text-light" asp-area="" asp-controller="Emprestimo" asp-action="Index">Fazer empréstimo</a>

        </li>

    }

}
