@using Microsoft.AspNetCore.Authentication

@if (User.Identity.IsAuthenticated)
{

    if (User.IsInRole("684973ab308a13b813d1210c"))
    {

        <li class="nav-item">

            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Administracao">Área da Bibliotecaria</a>

        </li>

    }

}
