@model Fatec_Library.Models.Usuario

@{
    ViewData["Title"] = "Cadastrar";

    ViewBag.OcultarFooter = true;

}

@section Styles {
    <link rel="stylesheet" href="~/css/login-cadastro.css" />
}

<section class="vh-70">

    <div class="container py-5 h-100">

        <h1 class="text-center">Crie sua conta</h1>

        <div class="row d-flex align-items-center justify-content-center h-80">

            <div class="col-md-8 col-lg-7 col-xl-6">

                <img src="~/assets/personagem-lendo-livros.png"
                     class="img-fluid" alt="Personagem Lendo um Livro">

            </div>

            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

                <form asp-action="Cadastrar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                    <div data-mdb-input-init class="form-outline mb-4">
                        <label asp-for="Nome" class="form-label"></label>
                        <input asp-for="Nome" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <label asp-for="Ra" class="form-label"></label>
                        <input asp-for="Ra" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
                        <span asp-validation-for="Ra" class="text-danger"></span>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <label asp-for="Senha" class="form-label" for="form1Example13"></label>
                        <input asp-for="Senha" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <label for="senhaConfirmar" class="form-label">Confirmar Senha</label>
                        <input name="senhaConfirmar" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
                        <span class="text-danger">@Html.ValidationMessage("senhaConfirmar")</span>
                    </div>

                    <input type="hidden" name="tipo" value="@ViewBag.tipo" />



                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-red btn-lg w-100 txt-white">Criar Conta</button>

                    <div class="text-center mt-3">

                        <p>Já possui um conta? <a asp-area="" asp-controller="Usuario" asp-action="Login">Faça o Login aqui</a></p>

                    </div>

                    @if (ViewBag.FazerLogin != null)
                    {

                        <div class="alert alert-warning" role="alert">
                            Encotramos um Usuario com o mesmo E-mail/RA informado,
                            <a asp-area="" asp-controller="Usuario" asp-action="Login"> Clique Aqui para fazer o Login. </a>
                        </div>
                    }

                </form>

            </div>

        </div>

    </div>

</section>

       




@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


